body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
}


/*header block*/
header{
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    height: 15%;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 1fr;
    background-color: rgb(84,117,158);
    font-size: 20pt;
}

header > div{
    position: relative;
    align-self: center;
    justify-self: center;
}

.navicon{
    grid-row: 1;
    grid-column: 1;
}

.title{
    grid-row: 1;
    grid-column: 2;
}

.search{
    grid-row: 1;
    grid-column: 6;
}

header > div > img{
    width: 100%;
}


/*main block*/
.container{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
}

.avatar{
    grid-row: 1;
    grid-column: 1;
    border-radius: 50%;
    height: 90%;
    align-self: center;
    justify-self: center;
}

.row{
    font-size: 18pt;
    min-height: 15vh;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 4fr 1fr;
}

.itemMsg{
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: left;
    display: grid;
    padding: 5%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3vh;
    border-bottom: 2px solid darkgrey;
    width: 100%;
}

.nameOfMsg{
    grid-row: 1;
    grid-column: 1;
    font-size: larger;
    font-weight: bold;
}

.descriptionOfMsg{
    grid-row: 2;
    grid-column: 1;
}

.time{
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    justify-self: center;
}