body{
    width: 100%;
    min-height: 100vh;
}


/*header block*/
header{
    margin: 0 10vw!important;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    height: 80px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 1fr;
    background-color: rgb(84,117,158);
    font-size: 20pt;
}

header > div{
    position: relative;
    align-self: center;
    justify-self: center;
}

.navicon{
    grid-row: 1;
    grid-column: 1;
    position: relative;
}

.hideMenu, .hideSearch{
    display: none;
    list-style-type: none;
    padding: 0;
}


.hideMenu > li > a{
    text-decoration: none;
    color: black;
}

.hideMenu > li:hover{
    background-color: yellow;
}

.activeMenu{
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    margin-left: 10vw;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 5;
    width: 25vw;
    border-radius: 1vh;
}

.activeSearch{
    margin: 0;
    padding: 0 2vw;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 5;
    max-width: 25vw;
    border-radius: 1vh;
    height: 100%;
}

input[type=text]{
    font-size: 14pt;
    border-radius: 1vh;
}

input[type=submit]{
    background-color: darkslategray;
    font-size: 14pt;
    border: none;
    color: white;
    width: 50%;
    border-radius: 1vh;
}

.title{
    grid-row: 1;
    grid-column: 2;
}

.search{
    grid-row: 1;
    grid-column: 6;
    position: relative;

}

header > div{
    position: relative;
}

header > div > img{
    width: 100%;
}


/*main block*/
.container{
    margin: 0 10vw!important;
    position: absolute;
    top: 80px;
    left: 0;
    width: auto;
}

.avatar{
    grid-row: 1;
    grid-column: 1;
    border-radius: 50%;
    width: 70%;
    padding: 15%;
    align-self: center;
    justify-self: center;
}

.row{
    font-size: 18pt;
    min-height: 15vh;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 4fr 1fr;
}

.row:hover{
    cursor: pointer;
}


.itemMsg{
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: left;
    display: grid;
    padding: 5%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3vh;
    border-bottom: 2px solid darkgrey;
    width: 100%;
}

.nameOfMsg{
    grid-row: 1;
    grid-column: 1;
    font-size: larger;
    font-weight: bold;
}

.descriptionOfMsg{
    grid-row: 2;
    grid-column: 1;
}

.time{
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    justify-self: center;
}

.msgHref{
    text-decoration: none;
    color: black;
    cursor: pointer!important;
}

.msgHref:hover{
    text-decoration: underline;
}

.message{
    /*display: none;*/
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: justify;
}

.message:hover{
    cursor: pointer;
}

.leftMessage, .rightMessage{
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 0.5vw;
}


.leftMessage{
    background-color: antiquewhite;
    width: 70%;
    justify-self: flex-start;
    align-self: flex-start;
}

.rightMessage{
    background-color: darksalmon;
    width: 40%;
    justify-self: flex-end;
    align-self: flex-end;
}

p{
    margin: 0;
}

.messageTime{
    text-align: end;
    font-size: smaller;
    font-style: italic;
    opacity: 0.3;
}

.messageTime:hover{
    opacity: 1;
}

.inputForm{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    margin: 1vh;
}

#inputField, #sendBtn{
    box-sizing: border-box;
    height: 40px;
    justify-self: center;
}

#inputField{
    align-self: flex-start;
    width: 65%;
}

#sendBtn{
    align-self: flex-end;
    width: 25%;
}

#messages{
    display: none;
}